<%- include('./partials/gsap.ejs') %>

<main class="tour">

  <%- include('./pages/intro.ejs') %>
  <%- include('./pages/recycle.ejs') %>
  <%- include('./pages/input.ejs') %>
  <%- include('./pages/gas_generated.ejs') %>
  <%- include('./pages/gas_used.ejs') %>
  <%- include('./pages/CO2.ejs') %>
  <%- include('./pages/trees.ejs') %>
  <%- include('./pages/cars.ejs') %>
  <!-- <%- include('./pages/interactive.ejs') %> -->

</main>

<%- include('./partials/foot.ejs') %>
